<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Css/style.css"> <!-- Corrected the relative path -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="./Js/custom.js"></script>

</head>

<body style="background-image: url(../Images/login-bg.jpg);">
    <div class="container login-main d-flex align-items-center">
        <div class="container-fluid content p-0">
            <div class="row login-row">
                <div class="col-md-6 images-sec p-0">
                    <div class="login-img-sec">
                        <img src="../Images/login-side-img.webp">
                    </div>
                </div>
                <div class="col-md-6 login-sec p-4">
                    <h3>Welcome Back! &#128075;</h3>
                    <h2>LOGIN TO YOUR ACCOUNT</h2>
                    <form>
                        <div class="mb-3">
                            <div class="custum-input d-flex align-items-center border border-1 rounded-1 "><i
                                    class="fa-solid fa-user"></i><input type="email" class="form-control border-0 p-0"
                                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username">
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="custum-input d-flex align-items-center border border-1 rounded-2"><i
                                    class="fa-solid fa-lock"></i>
                                <input type="password" class="form-control  border-0 p-0" id="exampleInputPassword1"
                                    placeholder="password">
                            </div>
                        </div>
                        <button type=" submit" class="btn btn-primary">lOGIN NOW</button>
                    </form>
                    <a href="javascript:void()">Forget Password</a>
                    <div class="log-text">
                        <span>Or Login with</span>
                    </div>
                    <div class="social-icons d-flex align-items-center justify-content-center">
                        <div class="google-icons">
                            <img src="../Images/google.png">
                        </div>
                        <div class="apple-icons">
                            <img src="../Images/apple-logo.png">
                        </div>
                        <div class="microsoft-icons">
                            <img src="../Images/microsoft.png">
                        </div>
                        <div class="facebook-icons">
                            <img src="../Images/facebook.png">
                        </div>
                    </div>
                    <div class="sign-text text-center"><span>Dont's have an account?</span><a
                            href="javascript:void()">Sign up for
                            free</a></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>